@font-face {
	font-family: pixelFont;
	src: url(../commodore_64/Commodore\ Rounded\ v1.2.ttf);
}

body {
	background-image: url('../images/back.png');
	display: flex;
	justify-content: center;
	position: relative;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#texts label {
	font-smooth: never;
	-webkit-font-smoothing : none;
	color: lawngreen;
	font-size: 20px;
	font-family: pixelFont;
	margin-right: 30px;
}


#game {
	background-image: url('../images/back.png');
<<<<<<< HEAD
	width 			: 1000px;
	height 			: 600px;
=======
	width 			: 3000px;
	height 			: 1000px;
>>>>>>> 109e26bfbbef9958ed80bb2de60ab58774d50582
	overflow 		: hidden;
	margin 			: 0px;
	padding 		: 0px;  
}

#sprite {
	position: absolute;
	left: 100px;
	top: 100px;
	margin: 0px;
	width: 100px;
	height: 100px;
	image-rendering: optimizeSpeed;             /* optimizing speed  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome */
    image-rendering: pixelated;					 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+  						  */  
}

.bullet {
	background-color: rgb(98, 230, 98);
	position: absolute;
	width: 18px;
	height: 8px;
}

.asteroid {
	position: absolute;
	width: 100px;
	height: 100px;
	image-rendering: optimizeSpeed;             /* optimizing speed  	*/
    image-rendering: -moz-crisp-edges;          /* Firefox                        	*/
    image-rendering: -o-crisp-edges;            /* Opera                          	*/
    image-rendering: -webkit-optimize-contrast; /* Chrome  	*/
    image-rendering: pixelated; 				/* Chrome 							*/
    image-rendering: optimize-contrast;         /* CSS3 Proposed                	*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+  						  	*/
}

#asteroid-container, #bullet-container, #sprite-container {
	position: relative;
}

.heart {
	margin: 5px;
	margin-right: 0px;
	width: 40px;
	height: 40px;
	image-rendering: optimizeSpeed;             /* optimizing speed  	*/
    image-rendering: -moz-crisp-edges;          /* Firefox                        	*/
    image-rendering: -o-crisp-edges;            /* Opera                          	*/
    image-rendering: -webkit-optimize-contrast; /* Chrome  	*/
    image-rendering: pixelated; 				/* Chrome 							*/
    image-rendering: optimize-contrast;         /* CSS3 Proposed                	*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+  						  	*/
}

#hearts {
	width: 140px;
	display: flex;
	flex-direction: row;
}

#highScore {
	color: lawngreen;
	font-size: 20px;
	font-family: pixelFont;
}

#intro {
	color: lawngreen;
	font-size: 30px;
	font-family: pixelFont;
	position: absolute;
	left: 480px;
	top: 150px;
}

#intro strong {
	font-size: 35px;
}